* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
}

.todo-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  margin: 10px;
}
.select-container {
  margin: 10px;
}